html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@import url(reset.css);

.first-page {
  width: 100%;
  background: url(./images/background2.svg) bottom,
    url(./images/background1.svg) bottom;
  background-size: cover;
}

.container {
  width: 1280px;
  margin: 0 auto;
  margin-top: 23px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 64px;

  .header__one {
    display: flex;
    gap: 32px;
    margin-right: 420px;

    a {
      font-family: "Inter", sans-serif;
      font-size: 15px;
      font-weight: 600;
      line-height: 22px;
      text-align: left;
      color: white;
      text-decoration: none;

      img {
        color: white;
      }
    }
  }

  .header__right {
    display: flex;
    gap: 24px;
    align-items: center;

    p {
      font-family: "Inter", sans-serif;
      font-size: 15px;
      font-weight: 600;
      line-height: 22px;
      text-align: left;
      color: #437ef7;
    }

    .button_header {
      width: 80px;
      height: 46px;
      padding: 12px 18px 12px 18px;
      background-color: #437ef7;
      border-color: #437ef7;
      color: white;
      gap: 6px;
      border-radius: 6px;
      font-family: "Inter", sans-serif;
      font-size: 13px;
      font-weight: 600;
      line-height: 22px;
      text-align: left;
    }
  }
}

.border {
  border-bottom: 1px solid#EAEBF0;
  margin-top: 32px;
}

.herobase {
}

.herobase-text {
  text-align: center;
  margin-top: 80px;

  h1 {
    margin-top: 24px;
    font-family: "Inter", sans-serif;
    font-size: 52px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: -0.01em;
    text-align: center;
    color: white;
  }

  p {
    margin-top: 24px;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.10000000149011612px;
    text-align: center;
    color: #f9f9f9;
  }
}

.btn {
  margin-top: 48px;
  padding-bottom: 92px;

  button {
    &:first-child {
      margin-right: 16px;
      width: 121px;
      height: 46px;
      padding: 12px 18px 12px 18px;
      border-radius: 6px;
      background-color: #437ef7;
      color: white;
    }

    &:last-child {
      width: 118px;
      height: 46px;
      padding: 12px 18px 12px 18px;
      border-radius: 6px;
      border: 1px;
      background: #2c3444;
      color: white;
    }
  }
}

.image__under {
  margin-top: 128px;
  margin-bottom: 128px;
  h1 {
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.02em;
    text-align: center;
  }
  p {
    padding: 16px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.10000000149011612px;
    text-align: center;
    color: #5f6d7e;
  }
}

.grid {
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: auto auto auto auto;
}

.grid_item {
  gap: 24px;
  border-radius: 5px;
}

.work-item {
  text-align: center;

  h3 {
    margin-top: 24px;
    font-family: "Inter", sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.01em;
    text-align: center;
    color: #272d37;
  }

  p {
    padding-top: 16px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.10000000149011612px;
    text-align: center;
    color: #5f6d7e;
  }
}

.learn {
  display: flex;
  align-items: center;
  text-align: center;
    justify-content: center;
  a {
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
    text-decoration: none;
    
  
    margin-top: 24px;
    margin-bottom: 24px;
    color: #437ef7;
    
  }
 
}

.our-item {
  text-align: center;

  h3 {
    margin-top: 24px;
    font-family: "Inter", sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.01em;
    text-align: center;
    color: #272d37;
  }

  p {
    padding-top: 16px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.10000000149011612px;
    text-align: center;
    color: #5f6d7e;
  }
}

.apı-item {
  text-align: center;

  h3 {
    margin-top: 24px;
    font-family: "Inter", sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.01em;
    text-align: center;
    color: #272d37;
  }

  p {
    padding-top: 16px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.10000000149011612px;
    text-align: center;
    color: #5f6d7e;
  }
}

.messaging-item {
  text-align: center;

  h3 {
    margin-top: 24px;
    font-family: "Inter", sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.01em;
    text-align: center;
    color: #272d37;
  }

  p {
    padding-top: 16px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.10000000149011612px;
    text-align: center;
    color: #5f6d7e;
  }
}

.accessibility-item {
  text-align: center;

  h3 {
    margin-top: 24px;
    font-family: "Inter", sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.01em;
    text-align: center;
    color: #272d37;
  }

  p {
    padding-top: 16px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.10000000149011612px;
    text-align: center;
    color: #5f6d7e;
  }
}

.apps-item {
  text-align: center;

  h3 {
    margin-top: 24px;
    font-family: "Inter", sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.01em;
    text-align: center;
    color: #272d37;
  }

  p {
    padding-top: 16px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.10000000149011612px;
    text-align: center;
    color: #5f6d7e;
  }
}

.workflow-item {
  text-align: center;

  h3 {
    margin-top: 24px;
    font-family: "Inter", sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.01em;
    text-align: center;
    color: #272d37;
  }

  p {
    padding-top: 16px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.10000000149011612px;
    text-align: center;
    color: #5f6d7e;
  }
}

.searching-item {
  text-align: center;

  h3 {
    margin-top: 24px;
    font-family: "Inter", sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.01em;
    text-align: center;
    color: #272d37;
  }

  p {
    padding-top: 16px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.10000000149011612px;
    text-align: center;
    color: #5f6d7e;
  }
}

.redefining {
  display: flex;
  justify-content: space-between;
}

.redefining-left {
  display: flex;
}

.redefining-info {
  padding-left: 16px;
  width: 450px;

  h2 {
    font-family: "Inter", sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.01em;
    text-align: left;
    color: black;
  }

  p {
    padding-top: 8px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.10000000149011612px;
    text-align: left;
    color: #5f6d7e;
  }
}

.learn-left {

  display: flex;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 24px;
  
  text-align: left;
  a {
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
    color: #437ef7;
    text-decoration: none;
  
  }
 
 
}

.demonstrate {
  margin-top: 64px;

  background-color: #2b63d9;
  display: flex;
}

.demonstrate-right {
  width: 570px;
  margin-top: 157px;
  margin-left: 80px;
  margin-bottom: 120px;

  h3 {
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: -0.01em;
    text-align: left;

    color: white;
    margin-top: 8px;
    margin-bottom: 22px;
  }
  span {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.10000000149011612px;
    text-align: left;
    color: #b1ccfb;

    margin-top: 16px;
    display: block;
  }
  .button_checkus {
    width: 133px;
    height: 46px;
    padding: 12px 18px 12px 18px;
    background-color: #437ef7;
    color: #fff;
    gap: 6px;
    border-radius: 6px;
    margin-top: 40px;
    border-color: #437ef7;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
    text-align: left;
  }

  .enterprise {
    display: flex;
    gap: 3px;
    margin-top: 24px;

    p {
      font-family: "Inter", sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: -0.10000000149011612px;
      text-align: left;
      color: #b1ccfb;
    }
  }
}

.demonstrate-img {
  img {
    margin-top: 64px;
    margin-left: 64px;
    margin-bottom: 64px;
  }
}

.pegination {
  img {
    width: 100%;
  }
}

.grid__two {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 32px;
}

.grid__two_item {
  padding: 32px;
  border-radius: 5px;
  border: 1px solid #eaebf0;
}

.basic-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 32px;
  border-bottom: 1px solid #eaebf0;

  p {
    width: 36px;
    height: 20px;

    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.10000000149011612px;
    text-align: left;
    background: #5390f8;
    color: white;
    border-radius: 5px;
  }

  h4 {
    font-size: 28px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #272d37;
  }

  span {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.10000000149011612px;
    text-align: left;
    color: #5f6d7e;
  }
}

.basic-under {
  display: flex;
  align-items: center;
  margin-left: 32px;
  margin-top: 12px;

  p {
    padding-left: 8px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.10000000149011612px;
    text-align: left;
    color: #272d37;
  }
}

.btntwo {
  margin-top: 32px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 320px;
  height: 46px;
  padding: 12px 18px 12px 18px;
  gap: 6px;
  border-radius: 6px;
  background: #437ef7;
  color: white;

  p {
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
    text-align: left;
  }
}

.latest-container {
  padding: 0px 32px 64px 32px;
  display: flex;
}

.latest-left {
  width: 588px;
  h2 {
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.01em;
    text-align: left;
    padding: 24px 0px 16px 0px;
  }
  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.10000000149011612px;
    text-align: left;
    color: rgba(79, 91, 99, 1);
    padding-bottom: 16px;
  }
  span {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.10000000149011612px;
    text-align: left;
    color: rgba(79, 91, 99, 1);
  }
}

.latest-right {
  padding-left: 40px;
  align-items: center;
  justify-content: center;
}

.latest-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 32px;
  img {
    padding-right: 24px;
  }
}

.latest-text {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 8px;
  h2 {
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.01em;
    text-align: left;
  }
  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.10000000149011612px;
    text-align: left;
    color: rgba(95, 109, 126, 1);
  }
  span {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.10000000149011612px;
    text-align: left;
    color: rgba(95, 109, 126, 1);
  }
}




.welcome-body {
  background-color: #2b63d9;
}
.welcome {
  margin-top: 64px;
  display: flex;
  margin-bottom: 64px;
}
.welcome-left {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 64px;
  margin-right: 80px;
 
  h3 {
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: -0.01em;
    text-align: left;
    color: white;
    padding-bottom: 24px;
  }

  span {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.10000000149011612px;
    text-align: left;
    color: #B1CCFB;

  }
}

.welcome-right {
  margin-top: 73px;
  margin-bottom: 73px;
  margin-right: 64px;
  display: flex;

  button {
    background-color: #437ef7;
    color: white;
    width: 88px;
    height: 46px;
    padding: 12px 18px 12px 18px;
    gap: 6px;
    border-radius: 0px 6px 6px 0px;
    border-color: #437ef7;
  }
}
.main {
  width: 352px;
  height: 40px;
}


.enterprise-body {
  background-color: #151B28;
  
}

.enterprise-ul {

  width: 1281px;
  height: 294px;
  background-color: #151B28;
  display: flex;
  gap: 80px;
  justify-content: center;
  align-items: center;
  margin-top: -64px;

  .enterprise_ul_one {


    ul {
      font-family: "Inter", sans-serif;
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: -0.10000000149011612px;
      text-align: left;
      color: #F9F9F9;

      li {
        font-family: "Inter", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.10000000149011612px;
        text-align: left;
        color: #A5ACBA;
        margin-top: 24px;
      

      }

    }
  }

  .enterprise_ul_two {
    margin-top: -96px;
    ul {
      font-family: "Inter", sans-serif;
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: -0.10000000149011612px;
      text-align: left;
      color: #F9F9F9;

      li {
        font-family: "Inter", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.10000000149011612px;
        text-align: left;
        color: #A5ACBA;
        margin-top: 24px;
      

      }
    
  }
}
}

.logo {
background-color: #151B28;
display: flex;



.logo-image {
  margin-left: 112px;
}

.logo-info {

  p {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.10000000149011612px;
    text-align: center;
    color: #A5ACBA;
    margin-left: 295px;

  }
}

.logo-right {
  display: flex;
  gap: 24px;
  margin-left: 190px;
}
}